
{% for forumrow in loops.forumrow %}
	{% if (forumrow.S_IS_CAT and not forumrow.S_FIRST_ROW) or forumrow.S_NO_CAT  %}
			</ul>

			</div>
		</div>
	{% endif %}

	{% EVENT forumlist_body_category_header_before %}
	{% if forumrow.S_IS_CAT or forumrow.S_FIRST_ROW  or forumrow.S_NO_CAT  %}
		<div class="forabg">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					{% EVENT forumlist_body_category_header_row_prepend %}
					<dl class="icon">
						<dt><div class="list-inner">{% if forumrow.S_IS_CAT %}<a href="{{ forumrow.U_VIEWFORUM }}">{{ forumrow.FORUM_NAME }}</a>{% else %}{{ lang('FORUM') }}{% endif %}</div></dt>
						<dd class="topics">{{ lang('TOPICS') }}</dd>
						<dd class="posts">{{ lang('POSTS') }}</dd>
						<dd class="lastpost"><span>{{ lang('LAST_POST') }}</span></dd>
					</dl>
					{% EVENT forumlist_body_category_header_row_append %}
				</li>
			</ul>
			<ul class="topiclist forums">
	{% endif %}
	{% EVENT forumlist_body_category_header_after %}

	{% if not forumrow.S_IS_CAT %}
		{% EVENT forumlist_body_forum_row_before %}
		<li class="row">
			{% EVENT forumlist_body_forum_row_prepend %}
			<dl class="icon {{ forumrow.FORUM_IMG_STYLE }}">
				<dt title="{{ forumrow.FORUM_FOLDER_IMG_ALT }}">
					{% if forumrow.S_UNREAD_FORUM %}<a href="{{ forumrow.U_VIEWFORUM }}" class="icon-link"></a>{% endif %}
					<div class="list-inner">
						{% if S_ENABLE_FEEDS and forumrow.S_FEED_ENABLED %}<!-- <a class="feed-icon-forum" title="{{ lang('FEED') }} - {{ forumrow.FORUM_NAME }}" href="{{ U_FEED }}?f={{ forumrow.FORUM_ID }}"><img src="{{ T_THEME_PATH }}/images/feed.gif" alt="{{ lang('FEED') }} - {{ forumrow.FORUM_NAME }}" /></a> -->{% endif %}

						{% if forumrow.FORUM_IMAGE %}<span class="forum-image">{{ forumrow.FORUM_IMAGE }}</span>{% endif %}
						<a href="{{ forumrow.U_VIEWFORUM }}" class="forumtitle">{{ forumrow.FORUM_NAME }}</a>
						{% if forumrow.FORUM_DESC %}<br />{{ forumrow.FORUM_DESC }}{% endif %}
						{% if forumrow.MODERATORS %}
							<br /><strong>{{ forumrow.L_MODERATOR_STR }}{{ lang('COLON') }}</strong> {{ forumrow.MODERATORS }}
						{% endif %}
						{% if forumrow.subforum|length and forumrow.S_LIST_SUBFORUMS %}
							{% EVENT forumlist_body_subforums_before %}
							<br /><strong>{{ forumrow.L_SUBFORUM_STR }}{{ lang('COLON') }}</strong>
							{% for subforum in forumrow.subforum %}
								<a href="{{ subforum.U_SUBFORUM }}" class="subforum{% if subforum.S_UNREAD %} unread{% else %} read{% endif %}" title="{% if subforum.S_UNREAD %}{{ lang('UNREAD_POSTS') }}{% else %}{{ lang('NO_UNREAD_POSTS') }}{% endif %}">{{ subforum.SUBFORUM_NAME }}</a>{% if not subforum.S_LAST_ROW %}{{ lang('COMMA_SEPARATOR') }}{% endif %}
							{% endfor %}
							{% EVENT forumlist_body_subforums_after %}
						{% endif %}

						{% if not S_IS_BOT %}
						<div class="responsive-show" style="display: none;">
							{% if forumrow.CLICKS %}
								{{ lang('REDIRECTS') }}{{ lang('COLON') }} <strong>{{ forumrow.CLICKS }}</strong>
							{% elseif not forumrow.S_IS_LINK and forumrow.TOPICS %}
								{{ lang('TOPICS') }}{{ lang('COLON') }} <strong>{{ forumrow.TOPICS }}</strong>
							{% endif %}
						</div>
						{% endif %}
					</div>
				</dt>
				{% if forumrow.CLICKS %}
					<dd class="redirect"><span>{{ lang('REDIRECTS') }}{{ lang('COLON') }} {{ forumrow.CLICKS }}</span></dd>
				{% elseif not forumrow.S_IS_LINK %}
					<dd class="topics">{{ forumrow.TOPICS }} <dfn>{{ lang('TOPICS') }}</dfn></dd>
					<dd class="posts">{{ forumrow.POSTS }} <dfn>{{ lang('POSTS') }}</dfn></dd>
					<dd class="lastpost"><span>
						{% if forumrow.U_UNAPPROVED_TOPICS %}
							<a href="{{ forumrow.U_UNAPPROVED_TOPICS }}">{{ UNAPPROVED_IMG }}</a>
						{% elseif forumrow.U_UNAPPROVED_POSTS %}
							<a href="{{ forumrow.U_UNAPPROVED_POSTS }}">{{ UNAPPROVED_POST_IMG }}</a>
						{% endif %}
						{% if forumrow.LAST_POST_TIME %}<dfn>{{ lang('LAST_POST') }}</dfn>
						{% if forumrow.S_DISPLAY_SUBJECT %}
							{% EVENT forumlist_body_last_post_title_prepend %}
							<a href="{{ forumrow.U_LAST_POST }}" title="{{ forumrow.LAST_POST_SUBJECT }}" class="lastsubject">{{ forumrow.LAST_POST_SUBJECT_TRUNCATED }}</a> <br />
						{% endif %} 
						{{ lang('POST_BY_AUTHOR') }} {{ forumrow.LAST_POSTER_FULL }}
						{% if not S_IS_BOT %}<a href="{{ forumrow.U_LAST_POST }}">{{ LAST_POST_IMG }}</a> {% endif %}<br />{{ forumrow.LAST_POST_TIME }}{% else %}{{ lang('NO_POSTS') }}<br />&nbsp;{% endif %}</span>
					</dd>
				{% else %}
					<dd>&nbsp;</dd>
				{% endif %}
			</dl>
			{% EVENT forumlist_body_forum_row_append %}
		</li>
		{% EVENT forumlist_body_forum_row_after %}
	{% endif %}

	{% if forumrow.S_LAST_ROW %}
			</ul>

			</div>
		</div>
	{% EVENT forumlist_body_last_row_after %}
	{% endif %}

{% else %}
	<div class="panel">
		<div class="inner">
		<strong>{{ lang('NO_FORUMS') }}</strong>
		</div>
	</div>
{% endfor %}
