
<h3 id="review">
	<span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{{ lang('EXPAND_VIEW')|addslashes }}'){rev_text.data = '{{ lang('COLLAPSE_VIEW')|addslashes }}'; } else if (rev_text.data == '{{ lang('COLLAPSE_VIEW')|addslashes }}'){rev_text.data = '{{ lang('EXPAND_VIEW')|addslashes }}'};">{{ lang('EXPAND_VIEW') }}</a></span>
	{{ lang('TOPIC_REVIEW') }}{{ lang('COLON') }} {{ TOPIC_TITLE }}
</h3>

<div id="topicreview">
<script type="text/javascript">
// <![CDATA[
	bbcodeEnabled = {{ S_BBCODE_ALLOWED }};
// ]]>
</script>
	{% for topic_review_row in loops.topic_review_row %}

	{% if topic_review_row.S_IGNORE_POST %}
	<div class="post bg3 post-ignore">
		<div class="inner">
			{{ topic_review_row.L_IGNORE_POST }}
	{% else %}
	<div class="post {% if topic_review_row.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}{% if topic_review_row.POST_ID == REPORTED_POST_ID %} reported{% endif %}">
		<div class="inner">
	{% endif %}

		<div class="postbody" id="pr{{ topic_review_row.POST_ID }}">
			<h3><a href="#pr{{ topic_review_row.POST_ID }}">{{ topic_review_row.POST_SUBJECT }}</a></h3>

			{% if (topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE) or topic_review_row.U_MCP_DETAILS %}
			<ul class="post-buttons">
			{% if topic_review_row.U_MCP_DETAILS %}
				<li>
					<a href="{{ topic_review_row.U_MCP_DETAILS }}" title="{{ lang('POST_DETAILS') }}" class="button icon-button info-icon">
						<span>{{ lang('POST_DETAILS') }}</span>
					</a>
				<li>
			{% endif %}
			{% if topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE %}
				<li>
					<a href="#postingbox" onclick="addquote({{ topic_review_row.POST_ID }}, '{{ topic_review_row.POSTER_QUOTE }}', '{{ lang('WROTE')|addslashes }}');" title="{{ lang('QUOTE') }} {{ topic_review_row.POST_AUTHOR }}" class="button icon-button quote-icon">
						<span>{{ lang('QUOTE') }} {{ topic_review_row.POST_AUTHOR }}</span>
					</a>
				</li>
			{% endif %}
			</ul>
			{% endif %}

			<p class="author">{% if S_IS_BOT %}{{ topic_review_row.MINI_POST_IMG }}{% else %}<a href="{{ topic_review_row.U_MINI_POST }}">{{ topic_review_row.MINI_POST_IMG }}</a>{% endif %} {{ lang('POST_BY_AUTHOR') }} <strong>{{ topic_review_row.POST_AUTHOR_FULL }}</strong> &raquo; {{ topic_review_row.POST_DATE }}  </p>
			<div class="content">{{ topic_review_row.MESSAGE }}</div>

			{% if topic_review_row.S_HAS_ATTACHMENTS %}
				<dl class="attachbox">
					<dt>{{ lang('ATTACHMENTS') }}</dt>
					{% for attachment in topic_review_row.attachment %}
						<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
					{% endfor %}
				</dl>
			{% endif %}

			{% if topic_review_row.POSTER_QUOTE and topic_review_row.DECODED_MESSAGE %}
				<div id="message_{{ topic_review_row.POST_ID }}" style="display: none;">{{ topic_review_row.DECODED_MESSAGE }}</div>
			{% endif %}
		</div>
		</div>
	</div>
	{% endfor %}
</div>

<hr />

{% if S_MCP_REPORT %}
	<p><a href="#report" class="top2">{{ lang('BACK_TO_TOP') }}</a></p>
{% else %}
	<p><a href="#postingbox" class="top2">{{ lang('BACK_TO_TOP') }}</a></p>
{% endif %}
