{% INCLUDE 'overall_header.html' %}

{% if MODERATORS %}
<p>
	<strong>{% if S_SINGLE_MODERATOR %}{{ lang('MODERATOR') }}{% else %}{{ lang('MODERATORS') }}{% endif %}{{ lang('COLON') }}</strong> {{ MODERATORS }}
</p>
{% endif %}

{% if S_FORUM_RULES %}
	<div class="rules{% if U_FORUM_RULES %} rules-link{% endif %}">
		<div class="inner">

		{% if U_FORUM_RULES %}
			<a href="{{ U_FORUM_RULES }}">{{ lang('FORUM_RULES') }}</a>
		{% else %}
			<strong>{{ lang('FORUM_RULES') }}</strong><br />
			{{ FORUM_RULES }}
		{% endif %}

		</div>
	</div>
{% endif %}

<div class="action-bar top">

	<div class="replybutton">
		{% EVENT viewtopic_buttons_top_before %}
                
        {# Reply Button #}
	{% if not S_IS_BOT and S_DISPLAY_REPLY_INFO %}
		<a href="{{ U_POST_REPLY_TOPIC }}" class="{% if S_IS_LOCKED %}locked{% else %}reply{% endif %}" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}">
			{% if S_IS_LOCKED %}{{ lang('BUTTON_TOPIC_LOCKED') }}{% else %}{{ lang('BUTTON_POST_REPLY') }}{% endif %}
		</a>
	{% endif %}

		{% EVENT viewtopic_buttons_top_after %}
	</div>

	{# INCLUDE 'viewtopic_topic_tools.html' #}
	{% EVENT viewtopic_dropdown_top_custom %}

        {# search box disabled 
	{% if S_DISPLAY_SEARCHBOX and false %}
		<div class="search-box" role="search">
			<form method="get" id="topic-search" action="{{ S_SEARCHBOX_ACTION }}">
			<fieldset>
				<input class="inputbox search tiny"  type="search" name="keywords" id="search_keywords" size="20" placeholder="{{ lang('SEARCH_TOPIC') }}" />
				<button class="button icon-button search-icon" type="submit" title="{{ lang('SEARCH') }}">{{ lang('SEARCH') }}</button>
				<a href="{{ U_SEARCH }}" class="button icon-button search-adv-icon" title="{{ lang('SEARCH_ADV') }}">{{ lang('SEARCH_ADV') }}</a>
				{{ S_SEARCH_LOCAL_HIDDEN_FIELDS }}
			</fieldset>
			</form>
		</div>
	{% endif %}
        #}

	{% if loops.pagination|length or TOTAL_POSTS %}
		<div class="pagination">
			
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				{{ PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}
	{% EVENT viewtopic_body_pagination_top_after %}
</div>

{% EVENT viewtopic_body_poll_before %}

{% EVENT viewtopic_body_poll_after %}

<div class="postrows">
{% for postrow in loops.postrow %}
    
    <table class="postblock">
        <tr class="head">
            <td class="author-name">{{ postrow.POST_AUTHOR_FULL }}</td>
            <td class="time">time</td>
        </tr>
        <tr class="body">
            <td class="author-data">
                Member<br>
                From: Germany<br>
                Registered: 2009-08-12<br>
                Posts: 5,695
            </td>
            <td class="content">
                {{ postrow.MESSAGE }}
            </td>
        </tr>
    </table>
	
{% endfor %}
</div>

{% if loops.pagination|length or TOTAL_POSTS %}
    <div class="pagination">

            {% if loops.pagination|length %}
                    {% INCLUDE 'pagination.html' %}
            {% else %}
                    {{ PAGE_NUMBER }}
            {% endif %}
    </div>
{% endif %}

{% if S_QUICK_REPLY %}
	{% INCLUDE 'quickreply_editor.html' %}
{% endif %}

{% if S_NUM_POSTS > 1 or loops.pagination|length %}
	<form id="viewtopic" method="post" action="{{ S_TOPIC_ACTION }}">
	<fieldset class="display-options" style="margin-top: 0; ">
		{% if not S_IS_BOT %}
		<label>{{ lang('DISPLAY_POSTS') }}{{ lang('COLON') }} {{ S_SELECT_SORT_DAYS }}</label>
		<label>{{ lang('SORT_BY') }} {{ S_SELECT_SORT_KEY }}</label> <label>{{ S_SELECT_SORT_DIR }}</label>
		<input type="submit" name="sort" value="{{ lang('GO') }}" class="button2" />
		{% endif %}
	</fieldset>
	</form>
	<hr />
{% endif %}

{% EVENT viewtopic_body_topic_actions_before %}
<div class="action-bar bottom">
	<div class="buttons">
		{% EVENT viewtopic_buttons_bottom_before %}

	{% if not S_IS_BOT and S_DISPLAY_REPLY_INFO %}
		<a href="{{ U_POST_REPLY_TOPIC }}" class="button icon-button {% if S_IS_LOCKED %}locked-icon{% else %}reply-icon{% endif %}" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}">
			{% if S_IS_LOCKED %}{{ lang('BUTTON_TOPIC_LOCKED') }}{% else %}{{ lang('BUTTON_POST_REPLY') }}{% endif %}
		</a>
	{% endif %}

		{% EVENT viewtopic_buttons_bottom_after %}
	</div>

	{% INCLUDE 'viewtopic_topic_tools.html' %}

	{% if loops.quickmod|length %}
		<div class="dropdown-container dropdown-container-{{ S_CONTENT_FLOW_BEGIN }} dropdown-up dropdown-{{ S_CONTENT_FLOW_END }} dropdown-button-control" id="quickmod">
			<span title="{{ lang('QUICK_MOD') }}" class="dropdown-trigger button icon-button modtools-icon dropdown-select">{{ lang('QUICK_MOD') }}</span>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
				{% for quickmod in loops.quickmod %}
					{% DEFINE QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) %}
					<li><a href="{{ quickmod.LINK }}"{% if definition.QUICKMOD_AJAX %} data-ajax="true" data-refresh="true"{% endif %}>{{ quickmod.TITLE }}</a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
	
	{% EVENT viewtopic_dropdown_bottom_custom %}

	{% if loops.pagination|length or TOTAL_POSTS %}
		<div class="pagination">
			{{ TOTAL_POSTS }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	{% endif %}
	<div class="clear"></div>
</div>

{% EVENT viewtopic_body_footer_before %}
{% INCLUDE 'jumpbox.html' %}

{% if S_DISPLAY_ONLINE_LIST %}
	<div class="stat-block online-list">
		<h3>{% if U_VIEWONLINE %}<a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a>{% else %}{{ lang('WHO_IS_ONLINE') }}{% endif %}</h3>
		<p>{{ LOGGED_IN_USER_LIST }}</p>
	</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
